In [2]:
import pandas as pd 
ls = [
    ["shubham",29,5],
    ["sanket", 28, 6], 
    ["rohan", 26,6]
]
print(ls)

[['shubham', 29, 5], ['sanket', 28, 6], ['rohan', 26, 6]]

In [4]:
student_def = pd.DataFrame(ls , columns= ["name" , "age" , "package"])
print(student_def)

      name  age  package
0  shubham   29        5
1   sanket   28        6
2    rohan   26        6

In [8]:
student_dict = {
    "name" : ["shubham","sanket","rohan"],
    "age" : [28, 26 , 25], 
    "package" : [5,6,7]
}
student_def = pd.DataFrame(student_dict)
print(student_def)

      name  age  package
0  shubham   28        5
1   sanket   26        6
2    rohan   25        7

In [10]:
student_def.shape

(3, 3)

In [14]:
student_def.head(2)

      name  age  package
0  shubham   28        5
1   sanket   26        6

In [13]:
student_def.tail(2)

     name  age  package
1  sanket   26        6
2   rohan   25        7

In [15]:
student_def.index

RangeIndex(start=0, stop=3, step=1)

In [16]:
student_def.columns

Index(['name', 'age', 'package'], dtype='object')

In [17]:
student_def.describe()

             age  package
count   3.000000      3.0
mean   26.333333      6.0
std     1.527525      1.0
min    25.000000      5.0
25%    25.500000      5.5
50%    26.000000      6.0
75%    27.000000      6.5
max    28.000000      7.0

In [18]:
student_def.sample()

      name  age  package
0  shubham   28        5

In [19]:
student_def.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   name     3 non-null      object
 1   age      3 non-null      int64
 2   package  3 non-null      int64
dtypes: int64(2), object(1)
memory usage: 204.0+ bytes